*,
*:before,
*:after {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    margin: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: normal;
}

ul,
ol {
    list-style: none;
    padding-left: 0;
}

dl,
ul,
ol,
p {
    margin-top: 0;
    margin-bottom: 0;
}

dd {
    margin-left: 0;
}

input {
    margin: 0;
    padding: 0;
}

textarea,
button {
    padding: 0;
}

a {
    text-decoration: none;
    -webkit-touch-callout: none;
}

img {
    border: 0;
    vertical-align: top;
}
